img{

	width: 200px;
	height: 300px;
}
body{
background-color: black;

}
p{
font-size: 12pt;
	font-family: verdana ;
	color:pink;
	text-align: left;
}
button{background-color: red;
border:0px;
border-radius: 70%}
li{
	color:yellow;
}
h1 {
	color: purple;
}